In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
 df= pd.read_csv("train.csv") #load the file which is to be used

In [3]:
df

      feature_1  feature_2  feature_3  feature_4  feature_5      target
0      0.293416  -0.945599  -0.421105   0.406816   0.525662  -82.154667
1     -0.836084  -0.189228  -0.776403  -1.053831   0.597997  -48.897960
2      0.236425   0.132836  -0.147723   0.699854  -0.187364   77.270371
3      0.175312   0.143194  -0.581111  -0.122107  -1.292168   -2.988581
4     -1.693011   0.542712  -2.798729  -0.686723   1.244077  -37.596722
...         ...        ...        ...        ...        ...         ...
1595  -0.274961  -0.820634  -0.757173  -0.147555  -0.307149  -80.110012
1596  -0.076099   0.255257   0.290054   1.796036   0.340350  118.315601
1597   1.044177  -0.899206   1.730399  -1.871057   0.442520 -107.510508
1598  -1.269173  -0.005052   1.857669  -1.080365   0.736334  -47.341558
1599  -1.884000  -0.849427  -1.452270   0.488613   1.459576 -115.939003

[1600 rows x 6 columns]

In [4]:
df1 = pd.read_csv("test.csv") # load the data if further needed

In [5]:
df1

     feature_1  feature_2  feature_3  feature_4  feature_5
0     1.015254   2.076209  -0.266435  -2.418088  -0.980503
1    -0.375021   0.953185   0.626719   0.704406  -0.355489
2    -1.024452   0.962991  -0.407942  -1.861274   0.455201
3    -2.489841   0.544802   0.601219  -0.607021  -1.314286
4    -0.384675  -0.833624   1.358552  -0.547932   0.411925
..         ...        ...        ...        ...        ...
395  -0.436959  -0.575844  -1.620908  -0.222588   1.086013
396  -0.421324  -2.417543   0.876275   0.844565   0.171646
397   0.554728   1.768243  -0.897787  -1.193661   0.340563
398  -1.627172   0.856471  -0.000566   0.629387   0.453382
399   0.139310   0.531597  -0.853107   0.031692   1.714893

[400 rows x 5 columns]

In [6]:
x = df.drop("target",axis="columns")

In [7]:
y= df["target"]

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [10]:
from sklearn.linear_model import LinearRegression

In [11]:
model = LinearRegression()

In [12]:
model.fit(x_train,y_train)

LinearRegression()

In [13]:
d =model.predict(x_test)

In [14]:
model.score(x_test,y_test)

0.9656129648381807

In [15]:
x_test['result'] = d

In [16]:
x_test.drop(["feature_1","feature_2","feature_3","feature_4","feature_5"],axis="columns",inplace=True)

In [17]:
x_test

          result
652  -152.455490
304    15.072537
967    50.857924
984   -76.564926
393   -91.344101
...          ...
86     35.256357
1544  -60.855082
1271  103.138940
92     88.077258
609    34.805754

[320 rows x 1 columns]

In [22]:
x_test.to_csv("Air_pollution.csv")

In [20]:
x_test.sort_index(inplace=True)

In [21]:
x_test

          result
6      26.036335
9     -87.645442
10    -45.362628
26    -14.117730
27    -16.946039
...          ...
1557    5.213563
1573  -90.696836
1579   27.899260
1584  159.306743
1595  -92.690566

[320 rows x 1 columns]

In [ ]:
x_test.columns =[]