In [21]:
import pandas as pd

In [22]:
df = pd.read_csv("homeprices.csv")
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [23]:
# monroe township         robinsville         west windsor           
# 1                          0                0 
# 1                        0                  0
# 1
# 1
# 1                        0                   0
# 0                       0                  1
# 0                       0                  1
#                                             1
#                                             1
#                         1
#                          1
#                 1
#                 1

In [24]:
df1= pd.get_dummies(df.town)

In [25]:
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [26]:
df2 = pd.concat([df,df1],axis=1)

In [27]:
df2.drop("town",axis="columns",inplace=True)

In [28]:
df2

    area   price  monroe township  robinsville  west windsor
0   2600  550000                1            0             0
1   3000  565000                1            0             0
2   3200  610000                1            0             0
3   3600  680000                1            0             0
4   4000  725000                1            0             0
5   2600  585000                0            0             1
6   2800  615000                0            0             1
7   3300  650000                0            0             1
8   3600  710000                0            0             1
9   2600  575000                0            1             0
10  2900  600000                0            1             0
11  3100  620000                0            1             0
12  3600  695000                0            1             0

In [29]:
x = df2.drop("price",axis="columns")

In [30]:
y = df2["price"]

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [33]:
from sklearn.linear_model import LinearRegression

In [34]:
model = LinearRegression()

In [35]:
model.fit(x_train,y_train)

LinearRegression()

In [36]:
x_test

    area  monroe township  robinsville  west windsor
1   3000                1            0             0
10  2900                0            1             0
4   4000                1            0             0

In [37]:
model.predict(x_test)

array([597287.09841917, 605930.64762876, 717633.86027536])

In [38]:
model.predict([[3000,0,0,0]])

array([615408.80503145])

In [39]:
model.predict([[3000,1,0,0]])

array([597287.09841917])

In [40]:
model.predict([[3000,0,1,0]])

array([617965.32381438])

In [42]:
model.predict([[3000,0,0,1]])

array([630973.99286079])

#####################second

In [53]:
df = pd.read_csv("homeprices.csv")
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [54]:
df1= pd.get_dummies(df.town)

In [55]:
df2 = pd.concat([df,df1],axis=1)

In [56]:
df2.drop(["town","robinsville"],axis="columns",inplace=True)

In [57]:
x = df2.drop("price",axis="columns")

In [58]:
y = df2["price"]

In [63]:
x

    area  monroe township  west windsor
0   2600                1             0
1   3000                1             0
2   3200                1             0
3   3600                1             0
4   4000                1             0
5   2600                0             1
6   2800                0             1
7   3300                0             1
8   3600                0             1
9   2600                0             0
10  2900                0             0
11  3100                0             0
12  3600                0             0

In [64]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [65]:
abc = LinearRegression()

In [67]:
abc.fit(x_train,y_train)

LinearRegression()

In [69]:
abc.predict([[3000,1,0]])

array([583909.09090911])

In [70]:
abc.predict([[3000,0,1]])

array([629818.1818182])

In [71]:
abc.predict([[3000,0,0]])

array([610000.00000002])